

.bg-pink {
	background: #db08c2;
	background: -moz-linear-gradient(-45deg, #db08c2 0%, #d85bc7 100%);
	background: -webkit-linear-gradient(-45deg, #db08c2 0%, #d85bc7 100%);
	background: linear-gradient(135deg, #db08c2 0%, #d85bc7 100%);
}

.bg-purple {
	background: #6024e3;
	background: -moz-linear-gradient(-45deg, #6024e3 0%, #9170e0 100%);
	background: -webkit-linear-gradient(-45deg, #6024e3 0%, #9170e0 100%);
	background: linear-gradient(135deg, #6024e3 0%, #9170e0 100%);
}

.bg-blue {
	background: #01a2fd;
	background: -moz-linear-gradient(-45deg, #01a2fd 0%, #94d8fc 100%);
	background: -webkit-linear-gradient(-45deg, #01a2fd 0%, #94d8fc 100%);
	background: linear-gradient(135deg, #01a2fd 0%, #94d8fc 100%);
}

.bg-waterblue {
	background: #21ddb5;
	background: -moz-linear-gradient(-45deg, #21ddb5 1%, #72dbc4 100%);
	background: -webkit-linear-gradient(-45deg, #21ddb5 1%, #72dbc4 100%);
	background: linear-gradient(135deg, #21ddb5 1%, #72dbc4 100%);
}

.bg-green {
	background: #67ef1f;
	background: -moz-linear-gradient(-45deg, #67ef1f 1%, #b0ea8f 100%);
	background: -webkit-linear-gradient(-45deg, #67ef1f 1%, #b0ea8f 100%);
	background: linear-gradient(135deg, #67ef1f 1%, #b0ea8f 100%);
}

.border-bg-pink {
	border-left: 4px solid #DB08C2;
}

.border-bg-purple {
	border-left: 4px solid #6024E3;
}

.border-bg-blue {
	border-left: 4px solid #01A2FD;
}

.border-bg-waterblue {
	border-left: 4px solid #21DDB5;
}

.border-bg-green {
	border-left: 4px solid #67EF1F;
}

body {
	background-color: black;
	font-family: arial;
	color: white;
	margin: 0;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	h1 {
		padding-left: 10px;
	}
	h2 {
		font-size: 14px;
		text-align: center;
	}
	h3 {
		font-size: 14px;
		padding-left: 25px;
		color: #5D5D5D;
		margin-top: 50px;
	}
	.apps_shelf ul {
		list-style: none;
		margin-top: 5vh;
		padding: 0;
		li {
			position: relative;
			padding: 20px;
			background-color: #141414;
			.add_app {
				position: absolute;
				right: -15px;
				top: 12px;
				border-radius: 50%;
				width: 30px;
				height: 30px;
				line-height: 30px;
				font-weight: bold;
				font-size: 23px;
				cursor: pointer;
				text-align: center;
				border: 2px solid transparent;
				&:hover {
					border: 2px solid #fff;
					color: #fff;
				}
			}
			.remove_app {
				position: absolute;
				right: 35px;
				top: 12px;
				width: 30px;
				font-size: 23px;
				font-weight: bold;
				color: #323232;
				height: 30px;
				line-height: 30px;
				border-radius: 50%;
				text-align: center;
				cursor: pointer;
				border: 2px solid #323232;
				&:hover {
					border: 2px solid #fff;
					color: #fff;
				}
			}
			&:after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 1px;
				background-color: #323232;
			}
			&:last-child {
				border-bottom: 0;
			}
		}
	}
	.add_server,
	.remove_server {
		border: 1px solid white;
		border-radius: 50%;
		width: 60px;
		height: 60px;
		line-height: 60px;
		margin: 0 auto;
		cursor: pointer;
		text-align: center;
		padding: 2px;
		font-size: 48px;
		&:hover {
			opacity: .6;
			&+h2 {
				opacity: .6;
			}
		}
	}
	.sidebar {
		background-color: #1E1E1E;
		height: 90vh;
		padding-top: 10vh;
		opacity: .7;
	}
	.wrapper {
		margin: 30px;
	}
	#cluster {
		width: 100%;
		height: auto;
		.server {
			width: 290px;
			height: 120px;
			background-color: #1E1E1E;
			margin: 10px;
			float: left;
			position: relative;
			display: flex;
			&:hover {
				opacity: .4;
				transition: 1s;
				&:after {
					color: red;
					text-align: center;
					font-weight: bold;
					content: 'destroy';
					left: 0;
					top: 0;
					bottom: 0;
					right: 0;
					margin: auto;
					cursor: pointer;
					background-color: black;
					position: absolute;
					width: 80px;
					height: 30px;
					line-height: 30px;
					border-radius: 5px;
				}
			}
			div {
				font-size: 20px;
				width: 100%;
				text-align: center;
				padding: 30px 0;
				b {
					display: block;
				}
				small {
					display: block;
					font-size: 13px;
					color: black;
				}
			}
		}
	}
	.flex {
		display: flex;
		justify-content: center;
		.col-3 {
			width: 25%;
		}
		.col-6 {
			width: 50%;
		}
		.col-9 {
			width: 75%;
		}
		.col-12 {
			width: 100%;
		}
	}
}

@media (max-width: 800px) {
	body {
		.app {
			margin-left: 40px;
			#cluster {
				.server {
					width: 100%;
				}
			}
			.add_server,
			.remove_server {
				margin: 10px;
			}
			.sidebar {
				padding-top: 0;
				height: 100vh;
				position: fixed;
				left: 0;
				h3 {
					display: none;
				}
				.flex {
					display: block;
					h2 {
						display: none;
					}
				}
				.apps_shelf {
					ul {
						li {
							padding-top: 55px;
						}
					}
				}
			}
		}
	}
}