

.bg-pink {
	background: #db08c2;
	background: -moz-linear-gradient(-45deg, #db08c2 0%, #d85bc7 100%);
	background: -webkit-linear-gradient(-45deg, #db08c2 0%, #d85bc7 100%);
	background: linear-gradient(135deg, #db08c2 0%, #d85bc7 100%);
}

.bg-purple {
	background: #6024e3;
	background: -moz-linear-gradient(-45deg, #6024e3 0%, #9170e0 100%);
	background: -webkit-linear-gradient(-45deg, #6024e3 0%, #9170e0 100%);
	background: linear-gradient(135deg, #6024e3 0%, #9170e0 100%);
}

.bg-blue {
	background: #01a2fd;
	background: -moz-linear-gradient(-45deg, #01a2fd 0%, #94d8fc 100%);
	background: -webkit-linear-gradient(-45deg, #01a2fd 0%, #94d8fc 100%);
	background: linear-gradient(135deg, #01a2fd 0%, #94d8fc 100%);
}

.bg-waterblue {
	background: #21ddb5;
	background: -moz-linear-gradient(-45deg, #21ddb5 1%, #72dbc4 100%);
	background: -webkit-linear-gradient(-45deg, #21ddb5 1%, #72dbc4 100%);
	background: linear-gradient(135deg, #21ddb5 1%, #72dbc4 100%);
}

.bg-green {
	background: #67ef1f;
	background: -moz-linear-gradient(-45deg, #67ef1f 1%, #b0ea8f 100%);
	background: -webkit-linear-gradient(-45deg, #67ef1f 1%, #b0ea8f 100%);
	background: linear-gradient(135deg, #67ef1f 1%, #b0ea8f 100%);
}

.border-bg-pink {
	border-left: 4px solid #DB08C2;
}

.border-bg-purple {
	border-left: 4px solid #6024E3;
}

.border-bg-blue {
	border-left: 4px solid #01A2FD;
}

.border-bg-waterblue {
	border-left: 4px solid #21DDB5;
}

.border-bg-green {
	border-left: 4px solid #67EF1F;
}

body {
	background-color: black;
	font-family: arial;
	color: white;
	margin: 0;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body h1 {
	padding-left: 10px;
}

body h2 {
	font-size: 14px;
	text-align: center;
}

body h3 {
	font-size: 14px;
	padding-left: 25px;
	color: #5D5D5D;
	margin-top: 50px;
}

body .apps_shelf ul {
	list-style: none;
	margin-top: 5vh;
	padding: 0;
}

body .apps_shelf ul li {
	position: relative;
	padding: 20px;
	background-color: #141414;
}

body .apps_shelf ul li .add_app {
	position: absolute;
	right: -15px;
	top: 12px;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-weight: bold;
	font-size: 23px;
	cursor: pointer;
	text-align: center;
	border: 2px solid transparent;
}

body .apps_shelf ul li .add_app:hover {
	border: 2px solid #fff;
	color: #fff;
}

body .apps_shelf ul li .remove_app {
	position: absolute;
	right: 35px;
	top: 12px;
	width: 30px;
	font-size: 23px;
	font-weight: bold;
	color: #323232;
	height: 30px;
	line-height: 30px;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	border: 2px solid #323232;
}

body .apps_shelf ul li .remove_app:hover {
	border: 2px solid #fff;
	color: #fff;
}

body .apps_shelf ul li:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: #323232;
}

body .apps_shelf ul li:last-child {
	border-bottom: 0;
}

body .add_server,
body .remove_server {
	border: 1px solid white;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	line-height: 60px;
	margin: 0 auto;
	cursor: pointer;
	text-align: center;
	padding: 2px;
	font-size: 48px;
}

body .add_server:hover,
body .remove_server:hover {
	opacity: .6;
}

body .add_server:hover+h2,
body .remove_server:hover+h2 {
	opacity: .6;
}

body .sidebar {
	background-color: #1E1E1E;
	height: 90vh;
	padding-top: 10vh;
	opacity: .7;
}

body .wrapper {
	margin: 30px;
}

body #cluster {
	width: 100%;
	height: auto;
}

body #cluster .server {
	width: 290px;
	height: 120px;
	background-color: #1E1E1E;
	margin: 10px;
	float: left;
	position: relative;
	display: flex;
}

body #cluster .server:hover {
	opacity: .4;
	transition: 1s;
}

body #cluster .server:hover:after {
	color: red;
	text-align: center;
	font-weight: bold;
	content: 'destroy';
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	cursor: pointer;
	background-color: black;
	position: absolute;
	width: 80px;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
}

body #cluster .server div {
	font-size: 20px;
	width: 100%;
	text-align: center;
	padding: 30px 0;
}

body #cluster .server div b {
	display: block;
}

body #cluster .server div small {
	display: block;
	font-size: 13px;
	color: black;
}

body .flex {
	display: flex;
	justify-content: center;
}

body .flex .col-3 {
	width: 25%;
}

body .flex .col-6 {
	width: 50%;
}

body .flex .col-9 {
	width: 75%;
}

body .flex .col-12 {
	width: 100%;
}

@media (max-width: 800px) {
	body .app {
		margin-left: 40px;
	}
	body .app #cluster .server {
		width: 100%;
	}
	body .app .add_server,
	body .app .remove_server {
		margin: 10px;
	}
	body .app .sidebar {
		padding-top: 0;
		height: 100vh;
		position: fixed;
		left: 0;
	}
	body .app .sidebar h3 {
		display: none;
	}
	body .app .sidebar .flex {
		display: block;
	}
	body .app .sidebar .flex h2 {
		display: none;
	}
	body .app .sidebar .apps_shelf ul li {
		padding-top: 55px;
	}
}